modules/*/node_modules
modules/pdb_ng2/typings
modules/pdb_ng8/typings
modules/pdb_ng2/components/*/node_modules
modules/pdb_ng8/components/*/node_modules
modules/pdb_react/components/*/node_modules
.DS_Store
